/* Smart phones ----------- */
@media only screen and (max-height : 480px) {
/* Styles */
  banner #overlay h2{
    font-size: medium !important;
  }
  banner #overlay p{
    font-size: small !important;
  }
  section[ng-controller=imageCropModalWindow] #saveCrop {
    width: 90px;
    margin: 3% calc(50% - 45px) 0px;
  }
  section[ng-controller=imageCropModalWindow] figure.avatar{
    display: none;
  }
}
    
@media only screen and (min-height : 480px) {
/* Styles */
  banner #overlay h2{
    font-size: small !important;
  }
  banner #overlay p{
    font-size: x-small !important;
  }
  section[ng-controller=imageCropModalWindow] #saveCrop {
    width: 90px;
    margin: 3% calc(50% - 45px) 0px;
  }
  section[ng-controller=imageCropModalWindow] figure.avatar{
    display: none;
  }
}