<?xml version='1.0' encoding='utf-8'?>
<widget id="com.product.tunebooster" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <!-- versionCode is optional and Android only -->

    <name>Tunebooster</name>
    <description>Tunebooster</description>
    <author>DaganRead</author>
    <preference name="phonegap-version" value="cli-7.0.1" />
    <preference name="orientation" value="portrait" />
    <!--<preference name="Fullscreen" value="true" /-->
    <platform name="android" >
        <preference name="android-minSdkVersion" value="16" />
        <preference name="android-targetSdkVersion" value="25" />
    </platform> 

    <platform name="ios" />
        <preference name="target-device" value="universal" />
        <preference name="deployment-target" value="7.0" />
    </platform>

    <allow-navigation href="*" />
    <access origin="*" />
</widget>
