<?xml version='1.0' encoding='utf-8'?>
<widget id="com.product.vleisbook" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <!-- versionCode is optional and Android only -->

    <name>Farm Manager Tools</name>
    <description>Farming tools</description>
    <author>DaganRead</author>
    <preference name="phonegap-version" value="cli-7.0.1" />
    <!--<preference name="Fullscreen" value="true" /-->
    <preference name="android-build-tool" value="gradle" />
    <platform name="android" >
        <preference name="android-minSdkVersion" value="16" />
        <preference name="android-targetSdkVersion" value="25" />
        <preference name="orientation" value="portrait" />
    </platform> 

    <!-- <allow-navigation href="*" />
    <access origin="*" /> -->
    <plugin name="phonegap-plugin-barcodescanner" spec="6.0.8" source="npm" />
</widget>
