<section id="commentContainer">
    <section id="content">
        <section class="comment" ng-repeat="comment in portfolioProject.comments track by $index">
            <article ng-if="comment.type === 'image/jpeg' || comment.type === 'image/png'" ng-click="largerView(comment.body)">
                <figure class="avatar"><img ng-src="{{comment.sender.avatar}}" /></figure>
                <figure class="fileThumbnail" ng-style="{'background': 'url({{comment.body}})' }" ></figure>
            </article>
            <article ng-if="comment.type === 'video/mp4'" >
                <figure class="avatar"><img ng-src="{{comment.sender.avatar}}" /></figure>
                <figure class="fileThumbnail" ng-style="{'background': 'url({{comment.body}})' }" ></figure>
            </article>
            <article ng-if="comment.type === 'text'">
                <figure class="avatar"><img ng-src="{{comment.sender.avatar}}" /></figure>
                <p>{{comment.body}}</p>
            </article>  
        </section>
    </section>
    <br/>
    <controls>
        <input id="projectDrop" type="file" class="hide" />
        <input type="text" placeholder="Comment..." ng-model="commentInput"/>
        <label id="projectDropZone" for="projectDrop">
        </label>
        <span id="sendComment" ng-click="sendComment()">Comment</span>
    </controls>
</section>