  <!-- profile-page-header -->
  <div class="card" id="profile-page-header">
    <div id="banner_drop_zone" class="card-image waves-effect waves-block waves-light">
      <img alt="user background" class="activator" ng-src="{{ user.banner }}" />
    </div>
    <figure class="card-profile-image-artist" id="avatar_drop_zone">
      <img alt="profile image" class="circle z-depth-2 responsive-img activator" ng-src="{{ user.avatar }}">
    </figure>
    <div class="card-content">
      <div class="row">
        <div class="col s3 offset-s2">
          <h4 class="card-title grey-text text-darken-4">{{ user.username }}</h4>
          <p class="medium-small grey-text">Artist</p>
        </div>
        <div class="col s2 center-align">
          <h4 class="card-title grey-text text-darken-4">{{ user.people.length }}+</h4>
          <p class="medium-small grey-text">Fans</p>
        </div>
        <div class="col s2 center-align">
          <h4 class="card-title grey-text text-darken-4">6</h4>
          <p class="medium-small grey-text">Likes</p>
        </div>
        <div class="col s2 right-align">
          <h4 class="card-title grey-text text-darken-4">$ {{ user.wallet.total| number:2 }}</h4>
          <p class="medium-small grey-text">Total Busked</p>
        </div>
      </div>
    </div>
    <br/>
    <div  class="section">
            <div class="row">
              <ul class="tabs tab-demo-active z-depth-1 cyan" style="width: 100%;">
                <li class="tab col s3"><a class="white-text waves-effect waves-light active" href="#all">All</a></li>
                <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#videos">Videos</a></li>
                <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#images">Images</a></li>
                <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#audio">Audio</a></li>
                <div class="indicator" style="right: 140px; left: 141px;"></div><div class="indicator" style="right: 140px; left: 141px;"></div>
              </ul>
            </div>
                      <div id="all" class="row" style="display: block;">
                        <div class="col s4" ng-repeat="item in gallery | filter:tagFilter track by $index">
                            <div class="card col s12">
                              <div ng-if="item.type === 'video/mp4'" class="card-image waves-effect waves-block waves-light">
                                <img ng-if="item.thumbnail==undefined" ng-src="{{getThumbUrl(item.body)}}" ng-click="videoSelected(item.body, item.username)"/>
                                <img ng-if="item.thumbnail!=undefined" ng-src="{{item.thumbnail}}" ng-click="videoSelected(item.body, item.username)"/>
                              </div>
                              <div ng-if="item.type === 'image/jpeg' || item.type === 'image/png'" class="card-image">
                                <img ng-src="{{ item.body }}" class="materialboxed" data-caption="{{ item.description }}" />
                              </div>
                              <div ng-if="item.type === 'audio/ogg' || item.type === 'audio/mpeg'" class="card-image waves-effect waves-block waves-light">
                                <img ng-click="playMusic($event)" ng-src="../../images/icon_musicPlay.png"/>
                                <audio  style="display: none;">
                                  <source src="{{item.body}}" type="audio/mpeg">
                                  <source src="{{item.body}}" type="audio/ogg">
                                    Your browser does not support the audio tag.
                                </audio>
                              </div>
                              <div class="card-content">
                                <span class="card-title grey-text text-darken-4">{{ item.title }}<span ng-if="item.type === 'video/mp4'" class="right" >Busked: ${{item.buskedTotal| number:2}}</span></span>
                                <p>{{ item.description }}</p><br />
                                <div class="row">
                                  <div class="col s12 right-align">
                                    <span><i class="material-icons"><img ng-click="galleryLike($event, item)" ng-src="../../images/icon_heart.png"/></i>{{ item.likes.counter }}</span>
                                    <span><i class="material-icons"><img ng-src="../../images/icon_share.png" /></i></span>
                                    <span><i class="material-icons"><img class="activator" ng-src="../../images/icon_comments.png"/></i></span>
                                    <span><i class="material-icons"><img ng-click="galleryTrash(item)" ng-src="../../images/icon_trash.png" /></i></span>
                                  </div>
                                </div>
                              </div>
                              <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Comments<i class="material-icons right">close</i></span>
                                <p class="postComments" ng-repeat="comment in item.comments track by $index">
                                  <avatar person="comment.username"></avatar>
                                  <h2>{{comment.username}}</h2>
                                  <p>{{comment.body}}</p>
                                </p>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div id="videos" class="row" style="display: none;">
                        <div class="col s4" ng-repeat="item in gallery | filter:tagFilter track by $index">
                            <div ng-if="item.type === 'video/mp4'" class="card col s12">
                              <div class="card-image waves-effect waves-block waves-light">
                                <img ng-if="item.thumbnail==undefined" ng-src="{{getThumbUrl(item.body)}}" ng-click="videoSelected(item.body, item.username)"/>
                                <img ng-if="item.thumbnail!=undefined" ng-src="{{item.thumbnail}}" ng-click="videoSelected(item.body, item.username)"/>
                              </div>
                              <div class="card-content">
                                <span class="card-title grey-text text-darken-4">{{ item.title }}<span ng-if="item.type === 'video/mp4'" class="right" >Busked: ${{item.buskedTotal| number:2}}</span></span>
                                <p>{{ item.description }}</p><br />
                                <div class="row">
                                  <div class="col s12 right-align">
                                    <span><i class="material-icons"><img ng-click="galleryLike($event, item)" ng-src="../../images/icon_heart.png"/></i>{{ item.likes.counter }}</span>
                                    <span><i class="material-icons"><img ng-src="../../images/icon_share.png" /></i></span>
                                    <span><i class="material-icons"><img class="activator" ng-src="../../images/icon_comments.png"/></i></span>
                                    <span><i class="material-icons"><img ng-click="galleryTrash(item)" ng-src="../../images/icon_trash.png" /></i></span>
                                  </div>
                                </div>
                              </div>
                              <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Comments<i class="material-icons right">close</i></span>
                                <p class="postComments" ng-repeat="comment in item.comments track by $index">
                                  <avatar person="comment.username"></avatar>
                                  <h2>{{comment.username}}</h2>
                                  <p>{{comment.body}}</p>
                                </p>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div id="images" class="row" style="display: none;">
                        <div class="col s4" ng-repeat="item in gallery | filter:tagFilter track by $index">
                            <div ng-if="item.type === 'image/jpeg' || item.type === 'image/png'" class="card col s12">
                              <div class="card-image">
                                <img ng-src="{{ item.body }}" class="materialboxed" data-caption="{{ item.description }}"/>
                              </div>
                              <div class="card-content">
                                <span class="card-title grey-text text-darken-4">{{ item.title }}</span>
                                <p>{{ item.description }}</p><br />
                                <div class="row">
                                  <div class="col s12 right-align">
                                    <span><i class="material-icons"><img ng-click="galleryLike($event, item)" ng-src="../../images/icon_heart.png"/></i>{{ item.likes.counter }}</span>
                                    <span><i class="material-icons"><img ng-src="../../images/icon_share.png" /></i></span>
                                    <span><i class="material-icons"><img class="activator" ng-src="../../images/icon_comments.png"/></i></span>
                                    <span><i class="material-icons"><img ng-click="galleryTrash(item)" ng-src="../../images/icon_trash.png" /></i></span>
                                  </div>
                                </div>
                              </div>
                              <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Comments<i class="material-icons right">close</i></span>
                                <p class="postComments" ng-repeat="comment in item.comments track by $index">
                                  <avatar person="comment.username"></avatar>
                                  <h2>{{comment.username}}</h2>
                                  <p>{{comment.body}}</p>
                                </p>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div id="audio" class="row" style="display: none;">
                        <div class="col s4" ng-repeat="item in gallery | filter:tagFilter track by $index">
                            <div ng-if="item.type === 'audio/ogg' || item.type === 'audio/mpeg'" class="card col s12">
                              <div class="card-image waves-effect waves-block waves-light">
                                <img ng-click="playMusic($event)" ng-src="../../images/icon_musicPlay.png"/>
                                <audio  style="display: none;">
                                  <source src="{{item.body}}" type="audio/mpeg">
                                  <source src="{{item.body}}" type="audio/ogg">
                                    Your browser does not support the audio tag.
                                </audio>
                              </div>
                              <div class="card-content">
                                <span class="card-title grey-text text-darken-4">{{ item.title }}</span>
                                <p>{{ item.description }}</p><br />
                                <div class="row">
                                  <div class="col s12 right-align">
                                    <span><i class="material-icons"><img ng-click="galleryLike($event, item)" ng-src="../../images/icon_heart.png"/></i>{{ item.likes.counter }}</span>
                                    <span><i class="material-icons"><img ng-src="../../images/icon_share.png" /></i></span>
                                    <span><i class="material-icons"><img class="activator" ng-src="../../images/icon_comments.png"/></i></span>
                                    <span><i class="material-icons"><img ng-click="galleryTrash(item)" ng-src="../../images/icon_trash.png" /></i></span>
                                  </div>
                                </div>
                              </div>
                              <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Comments<i class="material-icons right">close</i></span>
                                <p class="postComments" ng-repeat="comment in item.comments track by $index">
                                  <avatar person="comment.username"></avatar>
                                  <h2>{{comment.username}}</h2>
                                  <p>{{comment.body}}</p>
                                </p>
                              </div>
                            </div>
                        </div>
                      </div>
          </div>
      </div>