<a name="top" id="top"></a>
<div class="splash-container-creativeapply">
 <div class="splash-overlay" style="height:100%;">

            <div class="pure-u-1 pure-u-md-1-1" >
                <div>

                    <h1 class="firsttagline" style="font-size: 45px; margin-top: 4em;">THANK YOU</h1>
                    <p class="secondtagline">
                        SOMETHING WENT RIGHT
                    </a> 
                </div>
            </div>
    </div>
  </div>
</div>

<div class="content-wrapper-order">
<div class="content brief">
    <div class="pure-g" >

         <div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-4"></div>

            <div class="l-box pure-u-1 pure-u-md-3-5 pure-u-lg-1-2">
				

<h2>back to <a href="/">homepage</a></h2>



</div>

<div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-4"></div>


</div>
</div>
</div>